* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    width: 100%;
    height: 70px;
    background-color: #ec715f;
}
.nav-content{
    width: 1024px;
    margin: 0 auto;
}
.logo {
    height: 70px;
    float: left;
}
.nav-list {
    float: right;
}
.nav-list-item {
    float: left;
    display: inline-block;
    width: 120px;
    line-height: 70px;
    padding: 0 30px;
    font-size: 16px;
    list-style: none;
    color: #fafafa;
}
.mv {
    width: 100%;
    height: 650px;
    background-image: url(img/mv.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.mv-title {
    padding-top: 200px;
    font-size: 64px;
    color: #fafafa;
}
.mv-text {
    padding-top: 10px;
    font-size: 20px;
    color: #fafafa;
}
.pf {
    width: 100%;
    background-color: #eceff1;
}
.pf-container {
    width: 920px;
    margin: 0 auto;
}
.pf-title {
    padding-top: 90px;
    font-size: 32px;
    color: #000000;
    text-align: center;
}
.pf-title::after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #ec715f;
}
.pf-text {
    padding-top: 30px;
    font-size: 16px;
    color: #000000;
    text-align: center;
}
.pf-img {
    width: 920px;
    padding: 30px 0 90px 0;
    margin: 0 auto;
}
.pf-img-item {
    float: left;
    width: 300px;
    height: 250px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
}
.item-1 {
    background-image: url(img/sketch.jpg);
}
.item-2 {
    background-image: url(img/websuku.png);
}
.item-3 {
    background-image: url(img/write.jpg);
    margin-right: 0;
}
.item-4 {
    background-image: url(img/webcamp.png);
    margin-top: 10px;
}
.item-5 {
    background-image: url(img/talk.jpg);
    margin-top: 10px;
}
.item-6 {
    background-image: url(img/webcamp-mother.png);
    margin-top: 10px;
    margin-right: 0;
}
.feature {
    width: 100%;
}
.f-container {
    width: 980px;
    margin: 0 auto;
}
.f-st {
    width: 980px;
    padding: 30px 0 90px 0;
    margin: 0 auto;
}
.f-st-item {
    float: left;
    width: 320px;
    margin-right: 10px;
    text-align: center;
    font-size: 60px;
}
.f-st-item:last-child{
    margin-right: 0;
}
.f-st-title {
    font-size: 20px;
    color: #000000;
    padding: 10px 0;
}
.f-st-test {
    font-size: 16px;
    color: #000000;
}
.profile {
    background-color: #eceff1;
}
.pro-container {
    width: 1024px;
    margin: 0 auto;
}
.pro-st {
    padding: 30px 0 90px 0;
}
.pro-left {
    width: 50%;
    float: left;
}
.pro-img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url(img/my-icon.jpg);
}
.pro-right {
    width: 50%;
    float: right;
}
.pro-title:first-child {
    margin-top: 0;
}
.pro-title {
    margin: 20px 0 5px 0;
    font-size: 20px;
}
.pro-text {
    font-size: 16px;
    color: #000000;
}
footer {
    width: 100%;
    height: 60px;
    background-color: #ec715f;
    line-height: 60px;
  }
  .footer-text {
    font-size: 16px;
    color: #fafafa;
    text-align: center;
  }
  